
  button#btn2-in{
    width: 120px;
    
  }
  button#btn3-ca{
    position: relative;
    padding: 8px 16px;
    background: #fc3c3c;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    width: 120px;
    height: 38px;
    color: #ffffff;

  }
  .p1{
    text-align: center;
  }
  .imgs {
    width: 100%;
    height: 300px;
    border: 5px solid #FFF8DB;
    border-radius: 2em;
    object-fit: contain;

}
#save{
  margin-top: 20px;
}

.table{
  margin-top: 10px;
}
.img {
    width: 100px;
    height: 100px;
}
.buttons{
  bottom: 0;
  left: 0;
 
  position: absolute;
}
.imageInsert{
  
}

.button {
  position: relative;
  padding: 8px 16px;
  background: #009579;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  width: 120px;
  height: 38px;
  
}

.button:active {
  background: #007a63;
}

.button__text {

  color: #ffffff;
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
