{% extends 'layout.html'%}

{% block content%}

<link rel="stylesheet" href="/static/css/index.css">
<div class="center text-center">


</div>

<div class="container">
    <div class="topic">
        <!--<h1>&lt;GTCoding/&gt;</h1>-->
        <h2><b>ยินดีต้อนรับสู่ เว็บแอปพลิเคชัน <br> จำแนกโรคใบกล้วยไม้โดยการประมวลผลภาพ</b></h2>
        <p>
        <h3>Orchid Leaf Disease Classification Website</h3>
        </p>

        <a type="button" class="btn btn-primary text-white" href="{% url 'loginForm' %}">คลิ๊ก! เริ่มต้นใช้งาน</a>
        </button>

    </div>
</div>
</div>



{% endblock %}