{% extends 'layout.html'%}
{% load static %}

{% block content%}
<div class="new-background">
    <div id="banner" style="background-image: url(https://img.salehere.co.th/p/1200x0/2021/07/09/xguuihrvxlvz.jpg);
 
    background-repeat: repeat;
    background-size: cover;">
        <div class="container">
            <div class="topic">
                <!--<h1>&lt;GTCoding/&gt;</h1>-->
                <h1 style="color:white;"><b>ข้อมูลกล้วยไม้เบื้องต้น</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 2%;padding-bottom: 5%;">

    <div class="d-flex justify-content-between ">
        <button onclick="buttonback()" id="btn-back" class="btn btn-warning border "><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>ย้อนกลับ</button>
        <div class="bread-crump mb-4 text-decoration-none">
            <a href="/">หน้าหลัก</a> >
            <a href="#">ข้อมูลกล้วยไม้เบื้องต้น</a>
        </div>
    </div>
    <div class="card mt-3 shadow">
        <div class="row">
            <div class="col py-3 px-5">

                <h2 align="center">ข้อมูลกล้วยไม้เบื้องต้น</h2><br>

                <img src="/static/img/ochid2.jpg" alt="กล้วยไม้"
                    style="width: 200px; display: block;margin-left: auto; margin-right: auto;"><br>
                <h3>ประวัติกล้วยไม้</h3>
                <div> &nbsp; <span> กล้วยไม้เป็นพืชใบเลี้ยงเดี่ยว ในวงศ์ Orchidaceae เป็นไม้ตัดดอกยอดนิยม
                        เนื่องจากมีลักษณะดอกและสีสันลวดลายสวยงาม เป็นไม้ตัดดอกที่มีอายุการใช้งานได้นาน
                        กล้วยไม้เป็นพืชเศรษฐกิจที่มีความสำคัญของไทย เพราะเป็นไม้ส่งออกขายต่างประเทศทำรายได้เข้า
                        ประเทศปีละหลายร้อยล้านบาท มีการปลูกเลี้ยงอย่างครบวงจร ตั้งแต่การผสมเกสร เพาะเลี้ยงเนื้อเยื่อ
                        เลี้ยงลูกกล้วยไม้ เลี้ยงต้นกล้วยไม้จน กระทั่งให้ดอก ตัดดอกบรรจุหีบห่อและส่งออกเอง</span></div>
                <br>
                <h3>แหล่งกำเนิดกล้วยไม้ป่า</h3>

                <div> &nbsp; <span> แหล่งกำเนิดกล้วยไม้ป่าที่สำคัญของโลกมี 2 แหล่งใหญ่ ๆ ด้วยกันคือ ลาตินอเมริกา
                        กับเอเชียแปซิฟิค
                        สำหรับในลาตินอเมริกาเป็น อาณาบริเวณอเมริกากลางติดต่อกับเขตเหนือของอเมริกาใต้
                        ส่วนแหล่งกำเนิดกล้วยไม้ป่าในภูมิภาคเอเชียและแปซิฟิค
                        จากการค้นพบประเทศไทยมีพันธุ์กล้วยไม้ป่าเป็นจำนวนมาก
                        แสดงให้เห็นว่าประเทศไทยมีสภาพแวดล้อมเอื้ออำนวยต่อการเจริญงอกงามของ กล้วยไม้มาก
                        และกล้วยไม้ป่าที่ในพบในภูมิภาคแถบนี้มีลักษณะเด่นที่เป็นเอกลักษณ์ของตนเอง
                        แตกต่างจากกล้วยไม้ในภูมิภาคลาตินอเมริกา</span></div><br>
                <h3>การปลูกเลี้ยงกล้วยไม้ในประเทศไทย</h3>
                <div> &nbsp; <span> การปลูกเลี้ยงกล้วยไม้ในประเทศไทย
                        จากการสำรวจในอดีตพบว่าประเทศไทยเป็นประเทศที่มีกล้วยไม้อยู่ในป่าธรรมชาติ ไม่ต่ำกว่า 1000 ชนิด
                        ทั้งประเภทที่พบอยู่บนต้นไม้ บนพื้นผิวของภูเขาและบนพื้นดิน
                        สรุปได้ว่าสภาพแวดล้อมทางธรรมชาติของประเทศไทยเอื้ออำนวยแก่การเจริญงอกงาม ของกล้วยไม้เป็นอย่างมาก
                        ในอดีตชาวชนบทของไทย โดยเฉพาะในแหล่งที่เคยมีกล้วยไม้ป่าอุดมสมบูรณ์
                        ได้นำกล้วยไม้ป่ามาปลูกเลี้ยงโดยเลียนแบบธรรมชาติ โดยนำกล้วยไม้มาปลูกไว้กับต้นไม้ที่ขึ้นอยู่ใกล้ ๆ
                        บ้านเรือน การเลี้ยงกล้วยไม้เริ่มเปลี่ยนมาเป็นการปลูกเลี้ยงอย่างจริงจังโดยชาวตะวันตกผู้หนึ่ง
                        ที่เข้ามาทำธุรกิจในประเทศไทย เห็นว่าสภาพแวดล้อมของประเทศไทยเหมาะสมสำหรับการปลูกเลี้ยงกล้วยไม้
                        จึงได้สร้างเรือนกล้วยไม้อย่างง่าย ๆ และนำเอากล้วยไม้ป่าจากเขตร้อนของอเมริกา
                        ซึ่งเป็นแหล่งกำเนิดกล้วยไม้ป่าแหล่งใหญ่แหล่งหนึ่งของโลก
                        ซึ่งมีลักษณะแตกต่างจากกล้วยไม้ในเอเชียและเอเซียแปซิฟิค
                        โดยนำมาปลูกเลี้ยงเป็นงานอดิเรกในขณะเดียวกันก็มีเจ้านายชั้นสูงและบรรดา ข้าราชการที่ใกล้ชิด
                        ให้ความสนใจเลี้ยงกล้วยไม้เป็นงานอดิเรกเช่นกัน
                        นอกจากนั้นก็ยังมีกลุ่มบุคคลสูงอายุซึ่งเลี้ยงกล้วยไม้เพื่อความสุขทางใจ การปลูกเลี้ยงกล้วยไม้
                        อย่างไรก็ตามการปลูกเลี้ยงกล้วยไม้ยังคงจำกัดอยู่ในวงแคบ คือ
                        ในกลุ่มผู้สูงอายุและกลุ่มผู้มีเงินในยุคนั้น
                        และเป็นการปลูกเลี้ยงที่นิยมกล้วยไม้พันธุ์ต่างประเทศ
                        ส่วนกล้วยไม้ที่มีถิ่นกำเนิดในป่าของประเทศไทยจะนิยมและยกย่องเฉพาะพันธุ์ ที่หายากและมีราคาแพง

                        หลังการเปลี่ยนแปลงระบอบการปกครองในปี พ.ศ. 2475 สภาพการเลี้ยงก็ยังคงจำกัดอยู่ในวงแคบเช่นเดิม
                        แต่ผลงานเกี่ยวกับการผสมพันธุ์กล้วยไม้ในต่างประเทศเริ่มมีอิทธิพลกระตุ้น
                        ให้ผู้เกี่ยวข้องกับวงการกล้วยไม้ในประเทศไทยสนใจกล้วยไม้ลูกผสมมากขึ้น
                        มีการสั่งกล้วยไม้ลูกผสมจากประเทศในทวีปยุโรป สิงคโปร์ และอินโดนีเซีย
                        เพื่อนำเข้ามาปลูกเลี้ยงในประเทศไทย
                        การพัฒนาการปลูกเลี้ยงกล้วยไม้ เป็นไปอย่างจริงจัง เมื่อประมาณปีพ.ศ. 2493 โดยได้มีการวิจัย
                        นับตั้งแต่การรวบรวมปลูกในระดับพื้นฐาน ต่อมาในปีพ.ศ. 2497
                        ได้เริ่มเปิดการฝึกอบรมการเลี้ยงกล้วยไม้ให้แก่ประชาชนผู้สนใจทั่วไป
                        และมีการจัดตั้งชมรมกล้วยไม้ขึ้นในปีพ.ศ. 2498
                        ซึ่งต่อมาได้รับการสถาปนาเป็นสมาคมกล้วยไม้เมื่อปีพ.ศ.
                        2500
                        และในปีเดียวกันนี้ ได้เริ่มมีการนำเอาความรู้ในเรื่องกล้วยไม้และแนวความคิดในการพัฒนาวงการ
                        กล้วยไม้ออกเผยแพร่ทั้งทางโทรทัศน์และวิทยุ และมีการผลิตเอกสารสิ่งพิมพ์เผยแพร่
                        ทำให้วงการกล้วยไม้ของประเทศไทย ขยายตัวออกไปอย่างกว้างขวาง
                        จนกระทั่งมีการจัดตั้งสมาคมและสโมสรเกี่ยวกับกล้วยไม้ขึ้นในภาคและจังหวัด ต่าง ๆ

                        ในปี พ.ศ. 2501 ได้มีการเปิดการสอนวิชากล้วยไม้ขึ้นในมหาวิทยาลัยเกษตรศาสตร์เป็นครั้งแรก
                        เพื่อผลิตนักวิชาการและพัฒนางานวิจัยกล้วยไม้ของประเทศ
                        และเป็นจุดเริ่มต้นที่ทำให้การปลูกเลี้ยงกล้วยไม้ไม่ได้จำกัดอยู่ภายในวง แคบอีกต่อไป
                        จากการส่งเสริมดังกล่าว
                        ทำให้มีการนำเข้ากล้วยไม้ลูกผสมจากต่างประเทศ เช่น จากฮาวายและสิงคโปร์จำนวนมากยิ่งขึ้น
                        ทำให้ผู้ที่มีความรู้หันมารวบรวมพันธุ์ผสมและเพาะพันธุ์จากพ่อแม่พันธุ์ใน ประเทศ
                        ทั้งที่เป็นพ่อแม่พันธุ์จากป่า และลูกผสมที่สั่งเข้ามาแล้วในอดีต ปีพ.ศ. 2506
                        วงการกล้วยไม้ของไทยได้เริ่มมีแผนในการขยายข่ายงานออกไปประสานกับวงการกล้วย ไม้สากล
                        เพื่อยกระดับวงการกล้วยไม้ในประเทศให้ทัดเทียมกับต่างประเทศ ปีพ.ศ. 2509
                        เริ่มการทำสวนกล้วยไม้ตัดดอกอย่างจริงจัง
                        เมื่อไทยเริ่มส่งออกกล้วยไม้ไปสู่ตลาดต่างประเทศในยุโรปตะวันตก
                        เช่น สหพันธ์สาธารณรัฐเยอรมัน เนเธอร์แลนด์ และอิตาลี ต่อมาจึงขยายตลาดไปสู่ประเทศญี่ปุ่น แคนาดา
                        และบางรัฐของสหรัฐอเมริกา.</span>
                </div><br>
                <h3>การปลูกกล้วยไม้ </h3>
                <div>&nbsp;<span>ในประเทศไทย มีกล้วยไม้ป่าอยู่ในธรรมชาติ ตามต้นไม้ ซอกเขา พื้นดิน ไม่ต่ำกว่า 1,000 ชนิด
                        ด้วยสภาพแวดล้อมทางธรรมชาติของประเทศไทยเอื้ออำนวยแก่การเจริญงอกงามของกล้วยไม้เป็นอย่างมาก
                        ในอดีตนั้น
                        เริ่มจากการที่ชาวชนบทนำกล้วยไม้จากป่ามาปลูกเลี้ยงด้วยวิธีเลียนแบบธรรมชาติ
                        ขยับเข้าสู่สังคมเจ้านายชั้นสูงและบรรดาข้าราชการที่ใกล้ชิด เลี้ยงกล้วยไม้เป็นงานอดิเรก
                        กลุ่มผู้สูงอายุ และผู้มีอันจะกินในสมัยก่อน เลี้ยงกล้วยไม้เพื่อความสุขทางใจ
                        การปลูกเลี้ยงกล้วยไม้จึงจำกัดอยู่ในวงแคบ นิยมปลูกเลี้ยงกล้วยไม้พันธุ์ต่างประเทศ
                        ส่วนกล้วยไม้ที่มีถิ่นกำเนิดในป่าของประเทศไทยนั้น นิยมและยกย่องเฉพาะพันธุ์ที่หายากและมีราคาแพง
                        การพัฒนาการปลูกเลี้ยงกล้วยไม้ เป็นไปอย่างจริงจัง ตั้งแต่ประมาณปีพ.ศ. 2493 ได้มีการวิจัย
                        ฝึกอบรมการเลี้ยงกล้วยไม้ชมรมกล้วยไม้
                        เผยแพร่ความรู้ในเรื่องกล้วยไม้และแนวความคิดในการพัฒนาวงการกล้วยไม้ทั้งทางโทรทัศน์และวิทยุ
                        ผลิตเอกสารสิ่งพิมพ์เผยแพร่ และเปิดการสอนวิชากล้วยไม้ขึ้น ทำให้วงการกล้วยไม้ของประเทศไทย
                        ขยายตัวออกไปอย่างกว้างขวาง
                        และเป็นจุดเริ่มต้นที่ทำให้การปลูกเลี้ยงกล้วยไม้ไม่ได้จำกัดอยู่ภายในวงแคบ
                        มีการนำเข้ากล้วยไม้ลูกผสมจากต่างประเทศ รวบรวมพันธุ์ผสมและเพาะพันธุ์จากพ่อแม่พันธุ์ในประเทศ
                        ทั้งที่เป็นพ่อแม่พันธุ์จากป่า และลูกผสมที่นำเข้า
                        วงการกล้วยไม้ของไทยได้ตั้งเป้าหมายยกระดับวงการกล้วยไม้ในประเทศให้ทัดเทียมกับต่างประเทศ
                        และประสบผลสำเร็จจนประเทศไทยเป็นประเทศที่ส่งออกกล้วยไม้เขตร้อนอันดับ 1 ของโลก เกษตรกรหลายท่าน
                        ได้ผันตัวเองมาเป็นเกษตรกรผู้ปลูกเลี้ยงกล้วยไม้มาจากอาชีพอื่น และประสบผลสำเร็จอย่างมาก
                        ตลาดกล้วยไม้ทั้งในประเทศและต่างประเทศ ยังคงมีความต้องการกล้วยไม้เป็นจำนวนมาก
                        และไม่มีทีท่าว่าจะลดลง

                        เพราะฉะนั้น…การเริ่มต้นเป็นเกษตรกรผู้ปลูกเลี้ยงกล้วยไม้ ยังไม่มีคำว่าสายเกินไป
                        หลังจากได้แนะนำให้
                        ผู้ปลูกกล้วยไม้มือใหม่ได้รู้จักประเภท ของกล้วยไม้ ในบทความ กล้วยไม้ และรู้จักสายพันธุ์ จากบทความ
                        สายพันธุ์กล้วยไม้ยอดนิยม ไปแล้ว ท่านผู้อ่านคงมีตัวเลือกอยู่ในใจ ว่าจะปลูกสายพันธุ์ไหน
                        เพื่อจุดประสงค์ใด…ไว้ใช้ประโยชน์ในบ้าน ไว้จำหน่ายตัดดอก จำหน่ายต้นพันธุ์
                        หรือจำหน่ายเป็นไม้กระถาง
                        ศึกษาขั้นตอนก่อนปลูกกล้วยไม้ กันก่อนนะคะ</span>
                    <span>ขั้นตอนการปลูกกล้วยไม้</span>
                    <p><b>เลือกซื้อกล้วยไม้</b><br>
                        เลือกซื้อกล้วยไม้โดยสังเกตุส่วนต่างๆ ดังนี้ <br>
                    <ul>
                        <li>ใบ ที่เขียวสดไม่เหลืองช้ำและไม่มีรอยถูกตัดขาด</li>
                        <li>ลำต้น ข้อปล้องอวบ สวยงาม</li>
                        <li>ดอก บานไม่เต็มที่ หรือบานประมาณ 60 เปอร์เซนต์ เพื่อให้ดอกคงความสดได้หลายวัน
                            หากปลูกไว้ในบริเวณบ้าน แนะนำให้ซื้อกล้วยไม้หลากหลายสายพันธุ์มาเลี้ยง
                            เพราะมันจะออกดอกให้ชื่นชมตลอดทั้งปี</li>
                    </ul>
                    <b>ภาชนะปลูก</b>
                    เป็นส่วนสำคัญต่อการเจริญงอกงามของกล้วยไม้ ภาชนะปลูกต้องเหมาะกับการเจริญของรากกล้วยไม้แต่ละประเภท
                    </p>
                    <img src="/static/img/orchids-300x200 (1).jpg" alt="กระถางกล้วยไม้"
                        style='width: 380px;display: block;margin-left: auto; margin-right: auto;margin-bottom:20px;'>
                    <b>ประเภทของภาชนะปลูก มีดังนี้</b>
                    <b>กระถางดินเผาทรงเตี้ย</b> – เหมาะกับกล้วยไม้รากอากาศ เช่น กล้วยไม้สกุลแวนด้า สกุลเข็ม สกุลกุหลาบ
                    สกุลช้าง
                    <ul>
                        <li>ใช้ขนาดเส้นผ่าศูนย์กลาง 4 ถึง 6 นิ้ว มีรูระบายน้ำที่ก้นและรอบกระถาง
                            การปลูกไม่จำเป็นต้องใส่เครื่องปลูกใดๆ หรืออาจใช้ถ่านไม้ มะพร้าวสับ ใส่ลงในกระถางแบบหลวมๆ
                            วางต้นกล้วยไม้กลางกระถางแล้วใช้เชือกหรือลวดเส้นเล็กๆ ผูกติดกับก้นกระถาง</li>
                    </ul>
                    <b>กระถางดินเผาทรงสูง</b> – เหมาะกับกล้วยไม้ที่ต้องการเครื่องปลูกหรือกล้วยไม้รากกึ่งอากาศ เช่น
                    คัทลียา หวาย
                    <ul>
                        <li>ใช้ขนาดเส้นผ่าศูนย์กลาง 3 ถึง 4 นิ้ว สูง 4 ถึง 5 นิ้ว
                            มีรูระบายน้ำที่ก้นและรอบกระถางน้อยกว่ากระถางทรงเตี้ย อัดเรียงกาบมะพร้าวตามแนวตั้งจนแน่น
                            ยึดรากและโคนกล้วยไม้ตรงกลางกระถางให้แน่น</li>
                    </ul>
                    <b>กระเช้าไม้สัก </b> -เหมาะกับกล้วยไม้รากอากาศ มีต้นใหญ่ รากใหญ่ เช่น กล้วยไม้สกุลแวนด้า สกุลเข็ม
                    สกุลกุหลาบ สกุลช้าง
                    <ul>
                        <li>ทำจากไม้สัก หรือไม้ชนิดอื่น ไม่จำเป็นต้องใส่เครื่องปลูกใดๆ หรืออาจใส่ถ่านไม้ก้อนใหญ่ๆ 2 ถึง
                            3 ก้อน วางต้นกล้วยไม้กลางกระถางแล้วใช้เชือกหรือลวดเส้นเล็กๆ ผูกติดกับก้นกระเช้า</li>
                    </ul>
                    <b>กระเช้าพลาสติก</b>เป็นกระเช้าที่ทำจากพลาสติกสีดำ ราคาถูก มีหลายแบบ หลายขนาด แต่ที่นิยมใช้มี 2
                    ขนาด คือ ขนาดทรงเตี้ยใช้ปลูกกล้วยไม้แวนด้า และ ขนาดทรงสูงใช้ปลูกกล้วยไม้หวาย
                    ลักษณะการปลูกเช่นเดียวกับกระถางดินเผาทรงเตี้ยและกระถางดินเผาทรงสูง
                    <b>กระถางดินเผามีรูก้นกระถาง</b>– ใช้ปลูกกล้วยไม้ที่มีระบบรากแบบรากกึ่งดิน เช่น
                    กล้วยไม้สกุลรองเท้านารี สกุลเอื้องพร้าว สกุลคูลูและสกุลสเปโธกล๊อตติส
                    <ul>
                        <li>ชนิดเดียวกับที่ใช้ปลูกต้นไม้ทั่วไป มีรูระบายน้ำอยู่ที่ก้นกระถางเพียงรูเดียว
                            ทั้งแบบทรงสูงทั่วไปและแบบทรงเตี้ย</li>

                    </ul>
                    <b>ท่อนไม้ที่มีเปลือก</b>– เหมาะกับกล้วยไม้รากอากาศ เช่น กล้วยไม้สกุลเข็ม สกุลกุหลาบ สกุลช้าง
                    สกุลแวนด้า
                    <ul>
                        <li>ผูกกล้วยไม้ติดกับท่อนไม้ ขนาดตามความเหมาะสมกับขนาดของต้นกล้วยไม้
                            ปลายหนึ่งของท่อนไม้ยึดติดกับลวดไว้สำหรับแขวนกับราว
                            ต้นไม้ใหญ่-เหมาะกับกล้วยไม้รากอากาศและรากกึ่งอากาศ เช่น กล้วยไม้สกุลเข็ม สกุลกุหลาบ สกุลช้าง
                            สกุลหวาย</li>
                        <li>ยึดติดกับต้นไม้ยืนต้นขนาดใหญ่
                            สำหรับกล้วยไม้ที่เป็นรากอากาศสามารถใช้ลวดหรือเชือกผูกติดกับต้นไม้ได้เลย
                            แต่สำหรับกล้วยไม้ที่เป็นรากกึ่งอากาศให้หุ้มด้วยกาบมะพร้าว และ
                            ยึดกาบมะพร้าวด้วยตาข่ายหรือซาแลนอีกชั้นหนึ่ง</li>
                    </ul>
                    <b>เครื่องปลูก หรือวัสดุปลูก</b>
                    <br>
                    เป็นวัสดุที่เก็บอาหาร เก็บความชื้น หรือปุ๋ยของกล้วยไม้ และให้รากกล้วยไม้เกาะ ลำต้นจะตั้งอยู่ได้
                    วัสดุที่เหมาะสมกับลักษณะการเจริญเติบโตของรากกล้วยไม้จะทำให้กล้วยไม้เจริญเติบโตได้ดี แข็งแรง
                    และเป็นที่นิยมใช้มีดังนี้
                    <ul>
                        <li>ออสมันด้า – ได้มาจากรากของเฟิร์น เป็นเส้นยาว สีน้ำตาลจนเกือบดำ ค่อนข้างแข็ง
                            ใช้ปลูกกล้วยไม้แบบรากกึ่งอากาศ เช่น กล้วยไม้สกุลหวาย สกุลคัทลียา</li>
                    </ul>
                    <img src="/static/img/ออสมันดา.jpg" alt="ออสมันดา"
                        style='width: 380px;display: block;margin-left: auto; margin-right: auto;margin-bottom:20px;'>
                    <span>วิธีใช้ ล้างออสมันด้าให้สะอาด หรือแช่น้ำ และต้มเพื่อฆ่าเชื้อรา
                        รองก้นกระถางด้วยกระเบื้องแตกหรือถ่านประมาณครึ่งหนึ่งของกระถาง เพื่อให้ระบายน้ำได้สะดวก
                        อัดออสมันด้าตามยาวลงไปในกระถาง แต่ไม่ให้เต็มกระถาง ออสมันด้าเป็นเครื่องปลูกที่ดี
                        แต่ราคาค่อนข้างสูง เลี้ยงกล้วยไม้ได้เจริญงอกงามสม่ำเสมอ มีอายุการใช้งาน 2 ถึง 3 ปี
                        ข้อเสีย คือ มีตะไคร่น้ำขึ้นหน้าเครื่องปลูก และเกิดเชื้อราง่าย</span>
                    <ul>
                        <li>กาบมะพร้าว-นิยมใช้ปลูกกล้วยไม้มาก เพราะหาง่าย ราคาถูก ใช้ปลูกกล้วยไม้รากกึ่งอากาศเช่น
                            กล้วยไม้สกุลหวาย สกุลคัทลียา</li>
                    </ul>
                    <img src="/static/img/170.jpg" alt="ออสมันดา"
                        style='width: 380px;display: block;margin-left: auto; margin-right: auto;margin-bottom:20px;'>
                    <p>
                        วิธีใช้ เลือกกาบมะพร้าวแห้งที่แก่จัดและมีเปลือก อัดลงในกระถางตามยาวให้แน่น ตัดหน้าให้เรียบ
                        แล้วใช้แปรงลวดปัดหน้าให้เป็นขน เพื่อให้ดูดซับน้ำดีขึ้น กาบมะพร้าวให้ความชื้นสูง
                        เหมาะสำหรับกล้วยไม้ปลูกใหม่ เพราะจะทำให้ตั้งตัวเร็ว
                        จึงทำให้กล้วยไม้เจริญงอกงามเร็วกว่าวัสดุชนิดอื่นๆ
                       <br>
                        ข้อเสีย
                        มีอายุการใช้งานได้ไม่นาน คือมีอายุใช้งานได้เพียงปีเดียว จะผุ
                        เกิดตะไคร่น้ำได้ง่าย เนื่องจากกาบมะพร้าวอมความชื้นไว้ได้มาก ควรรดน้ำให้น้อยกว่า
                    </p>
                    <b>เครื่องปลูกชนิดอื่น</b>
                    <ul>
                        <li>ถ่าน-ปลูกกล้วยไม้ได้ดี หาง่าย ราคาไม่แพง คงทนถาวร ไม่เน่าเปื่อยผุพังง่าย และดูดซับน้ำได้ดีพอเหมาะไม่ชื้นแฉะเกินไป ยังช่วยดูดกลิ่นที่เน่าเสียและทำให้อากาศบริสุทธิ์อีกด้วย</li>
                    </ul>
                    <img src="/static/img/23_11_2018_charcoal_800.jpg" alt="ออสมันดา"
                        style='width: 380px;display: block;margin-left: auto; margin-right: auto;margin-bottom:20px;'>
                    <p>แต่มีข้อเสีย คือ มักมีเชื้อรา
                        กล้วยไม้ที่มีระบบรากแบบรากกึ่งอากาศ เช่น กล้วยไม้สกุลหวาย สกุลแคทลียา ควรใช้ถ่านป่นซึ่งเป็นก้อนเล็กๆ ผสมกับอิฐ หรือใช้อิฐหักรองก้นกระถางประมาณครึ่งกระถาง แล้วใช้ถ่านป่นใส่ทับข้างบนจนเต็มหรือเกือบเต็มกระถาง จากนั้นจึงเอากล้วยไม้ปลูกโดยวางทับไว้บนถ่าน ปลูกกล้วยไม้ที่มีระบบรากแบบรากอากาศ เช่น กล้วยไม้สกุลแวนด้า สกุลเข็ม สกุลกุหลาบ ถ้าเป็นกล้วยไม้ขนาดเล็กหรือยังเป็นลูกกล้วยไม้อยู่ ใส่ถ่านก้อนเล็กๆ หรือใส่ถ่านป่นพอสมควร แต่ถ้าเป็นกล้วยไม้ที่โตแล้วควรใส่ก้อนใหญ่ประมาณ 5-10 ก้อน เพื่อช่วยอุ้มความชุ่มชื้นไว้ให้กล้วยไม้ บริเวณภายในกระถางมีช่องว่าง อากาศถ่ายเทได้สะดวก เหมาะแก่ความต้องการหรือการเจริญเติบโตของกล้วยไม้ที่มีระบบรากอากาศ
                    <ul>
                        <li>
                            ทรายหยาบและหินเกล็ด-ปลูกกล้วยไม้ที่มีระบบรากกึ่งอากาศโดยเฉพาะพวกสกุลหวาย มักใช้ทรายหยาบและหินเกล็ดที่ล้างสะอาดแล้วเป็นเครื่องปลูก ใส่อิฐหักหรือหรือถ่านป่นไว้ ก้นกระถาง ส่วนด้านบนโรยทรายหยาบ หนาประมาณ 1 นิ้ว แล้วโรยทับด้วยหินเกล็ดหนาประมาณครึ่งนิ้ว จากนั้น นำหน่อกล้วยไม้ที่แยกจากกอเดิมไปปลูกวางไว้บนหินเกล็ด แล้วมัดติดกับหลักเพื่อยึดไม่ให้ล้มจนกว่ากล้วยไม้ที่ปลูกใหม่นี้มีรากยึดและตั้งตัวได้

                        </li>
                        <li>อิฐหักและกระถางดินเผาแตก-ใช้รองก้นกระถางสำหรับปลูกกล้วยไม้ที่มีระบบรากกึ่งอากาศ เพื่อให้ด้านล่างของกระถางหรือภาชนะปลูกโปร่ง อากาศถ่ายเทสะดวกและเป็นการช่วยในการระบายน้ำในกระถางได้ดีขึ้น โดยมีวัสดุอื่น โรยไว้ข้างบน</li>
                    </ul>
                    </p>
                    <span>การปลูกกล้วยไม้ มีดังนี้</span>
                    <ol>
                        <li>การปลูกลูกกล้วยไม้ขนาดเล็ก</li>
                        <li>การปลูกลูกกล้วยไม้ขนาดใหญ่</li>
                        <li>การปลูกกล้วยไม้ในกระเช้า</li>    
                        <li>การปลูกกล้วยไม้ต้นใหญ่</li>   
                        <li>การปลูกกล้วยไม้ฟาแลนอปซีส</li>   
                    </ol>
                    
                </div><br>

















                <h4>อ้างอิง</h4>
                <span>
                    วิกิพีเดียกล้วยไม้. แหล่งที่มา :
                    <a href="https://th.wikipedia.org/wiki/กล้วยไม้">https://th.wikipedia.org/wiki/กล้วยไม้</a>
                    <br>
                    M-Group:article. แหล่งที่มา:
                    <a
                        href="http://www.m-group.in.th/article/การปลูกกล้วยไม้.html">http://www.m-group.in.th/article/การปลูกกล้วยไม้.html</a>
                </span>

            </div>
        </div>
    </div>
</div>
{% endblock %}